@import "../../../../styles/index.scss";

nav {
  position: relative;
  width: 100%;
  background-color: $main-blue;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 50px;
    img {
      width: 150px;
    }
  }

  ul {
    padding: 15px 0;
    display: inline-flex;
    align-items: center;
    list-style-type: none;
  }
  ul.left-buttons {
    padding-left: 270px;
  }
}
