<div class="game" *ngIf="game">
    <span [ngStyle]="{'font-weight': game['home_points'] > game['away_points'] ? 700 : 400}">{{game['home_team']}}</span>
    <span [ngStyle]="{'font-weight': game['home_points'] > game['away_points'] ? 700 : 400}">{{game['home_points']}}</span>
    <span class="versus">-</span>
    <span [ngStyle]="{'font-weight': game['away_points'] > game['home_points'] ? 700 : 400}">{{game['away_points']}}</span>
    <span [ngStyle]="{'font-weight': game['away_points']> game['home_points'] ? 700 : 400}">{{game['away_team']}}</span>
</div>
